/*------　style.css　------*/

/*------　basic elements(keiri)　------*/
body {
	margin: 0px;
	padding: 0px;
	background : url(../../images/background.gif);
	font-size: 13px;
	font-family: 'Arial';
	font-size: 13px;
	text-align: center;
}

img {
	border:0;
}

a{
	color: #666;
	text-decoration: none;
}

 a:link {
	color:#666;
	text-decoration:none;
}


a:visited {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #2C74A9;
	text-decoration:underline;
}

p {

	padding: 2px 0px 0px 0px;
	margin-top:0;
	margin-bottom:0;
}

/*------　classes　------*/
.indent {
	margin-left: 50px;
}
.accent {
	font-weight: bold;
}
.hot {
	color: #E64;
}
.rightside {
	text-align: right;
}
/*------　div: base (defines the area of content)  ------*/
#page {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background: #DDC;
	border: 0px solid #BBB;
}
#page .invisible {
	display: none;
}
/*------　div: header ------*/
/*------　div: header > title------*/
#header #title h1 {
	width: 100%;
	height: 50px;
	margin: 0px;
	padding-top:4px;
	background: #BBA;
	font-family: 'Tahoma';
	font-size: 30px;
	font-weight: normal;
	text-align: left;
}
#header #title h1 span {
	display:none;
	display: block;
	padding-top: 10px;
	padding-left: 10px;
}
#header #title h1 a {
	text-decoration: none;
	color: #247;
}
#header #title h1 a:hover {
	color: #EEE;
}
/*------　div: header > billboard ------*/
#header #billboard {
	display: none;
}
#header #billboard span {
	display: none;
}
/*------　div: header > globalnavi ------*/
#header #globalnavi {
	width: 100%;
	height: 20px;
	background: #89A;
}
#header #globalnavi ul {
	margin: 0px;
	list-style-type: none;
	float: right;
}
#header #globalnavi li {
	height: 15px;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #FFF;
	float: left;
}
#header #globalnavi a {
	color: #FFF;
	text-decoration: none;
}
#header #globalnavi a:hover {
	color: #CFF;
}
/*------　div: content ------*/
#content {
	margin: 0px;
	background: #transparent;
	color: #666;
}


/*------　div: content > localnavi ------*/
#menu {
	width: 200px;		/*IEのバグ�E�ここで奁E��%を指定するとレイアウト崩れ�E原因に*/
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 30px;
	background: #AA9;
	text-align: left;
	float: left;
}

#menu #office{
	text-align:center;
	letter-spacing: 0.5em;
	color:#333;
	font-size:17px;
	font-weight:bold;
	padding: 10px 0px;
	margin:0px;
	background : url(../../images/office_bg.gif);
}


#menu ul {
	line-height: 230%;
	margin-bottom:-18px;
}
#menu li {
	list-style: none;
	margin-left: -40px;
	border-bottom: 1px solid #FFF;
	font-weight:bold;
	display:block;
}



#menu span {
	border-left: 5px solid #247;
	margin-left: 20px;
	padding-left: 10px;
	font-weight: bold;
	color: #247;
}

#menu li.tit {
	list-style: none;
	border-bottom: 1px solid #FFF;
	padding:0px 0px;
	margin-left:-40px;
	line-height:400%;

}

#menu span.li-tit {
	border-left: 5px solid #247;
	margin-left: -10px;
	padding-left: 10px;
	font-weight: bold;
	color: #247;
}

#menu span.li-tit a{
	display: block;
	background: transparent;
	margin-left: 0px;
	padding-left: 30px;
	text-decoration: none;
	color: #247;
}

#menu span.li-tit a:hover {
	color: #358;
	background: #EED;
}

#menu li.list-tit {
	list-style: none;
	border-bottom: 1px solid #FFF;
	padding:0px 0px;
	margin-left:-40px;
	line-height:200%;

}

#menu span.list-tit {
	border-left: 5px solid #247;
	margin-left: -10px;
	padding-left: 10px;
	font-weight: bold;
	color: #247;
}

#menu span.list-tit a{
	display: block;
	background: transparent;
	margin-left: 0px;
	padding-left: 30px;
	text-decoration: none;
	color: #247;
}

#menu span.list-tit a:hover {
	color: #358;
	background: #EED;
}

#menu a {
	display: block;
	background: transparent;
	margin-left: 0px;
	padding-left: 30px;
	text-decoration: none;
	color: #FFF;
}
#menu a:hover {
	color: #358;
	background: #EED;
}



p.right{
	text-align:right;
	vertical-align:middle;
	margin-bottom:3px;
	color:#205379;
}


p.right a{
	color: #205379;
	text-decoration: none;
}

p.right a:link {
	color:#205379;
	text-decoration:none;
}

p.right a:visited {
	color: #205379;
	text-decoration: none;
}

p.right a:hover {
	color: #2C74A9!important;
	text-decoration:underline!important;
}

.p_green {
	padding: 2px 0px;
	margin-top:0;
	margin-bottom:0;
	color:#0B619F;
}

.p_green a{
	color:#5AA157;
	text-decoration:none;
}


.p_green a:link {
	color:#5AA157;
}

.p_green a:visited {
	color:#5AA157;
	text-decoration:none;
}

.p_green a:hover{
	color:#5AA157;
	text-decoration:underline;
}


img.arrow {
	vertical-align: middle;
}

img.pdf {
	vertical-align:baseline;
}



/*------　div: content > main ------*/
#content #main {
	width: 730px;		/*IEのバグ�E�ここで奁E��%を指定するとレイアウト崩れ�E原因に*/
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: transparent;
	text-align: left;
	float: left;
}
#content #main #topicpath {
	display: none;
}
#content #main h2 {
	margin-left: 20px;
}
#content #main h3 {
	color: #247;
	padding-left: 10px;
	border-left: 10px solid #AAA;
	border-bottom: 1px solid #AAA;
}

#content #main h3 a{
	color: #247;
	text-decoration:none;
}

#content #main h3 a:visited{
	color: #247;
	text-decoration:none;
}

#content #main h3 a:hover{
	color: #247;
	text-decoration:none;
}

#content #main h4 {
	padding-left: 15px;
	margin-bottom: 15px;
	color:#666;
	border-bottom:#224477 1px solid;
	border-left:#224477 10px solid;
	letter-spacing:0.2em;
}
#content #main h5 {
	padding-left: 32px;
	margin-bottom: 2px;
	background : url(../../images/square_grn_list.gif) no-repeat 18px 0px;
	font-size: 13px;
	font-weight:normal;
}
#content #main p {
	padding-left: 20px;
	padding-right: 20px;
}

#content #main .block {
	padding: 10px;
	line-height: 140%;
	background: #FFF;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 30px;
	width:650px;
	
	_width:670px;/*IE6 */
}

#content #main .article {
	padding-bottom: 10px;
}

.clear {
	clear:both;
}

/* article冁E��スチE*/

.list_box{
	width: 100%;
	height: auto;
	margin-bottom:10px;
	float:left;
	clear:both;
}	
	
ul.list1 {                 /* 横並び/四角いマ�Eクのリスト�Eーカー(indexトップで使用�E�E/
	width: 100%;
	margin:0;
	padding:0;
}

ul.list1 li {
	width: 200px;
	list-style-image:url(../../images/square_blu.gif);
	list-style-position: inside;
	line-height:1.5em;
	height:30px;
	color: #205379;
	overflow:hidden;
	padding: 0;
	margin-left:10px;
	float:left;
	
	*background:url(../../images/square_blu.gif) no-repeat 0px 0px;/*IE7 and below */
	*padding:0;/*IE7 and below */
	*text-indent: 1.3em;/*IE7 and below */
	*margin-left:10px;/*IE7 and below */
	
}


ul.list1 li a {
	color: #205379;
	text-decoration: none;
}

ul.list1 li a:link {
	color:#205379;
	text-decoration:none;
}


ul.list1 li a:visited {
	color: #205379;
	text-decoration: none;
}

ul.list1 li a:hover {
	color: #2C74A9!important;
	text-decoration:underline!important;
}

ul.list1 li.long {
	width:auto;
	list-style-image:url(../../images/square_blu.gif);
	list-style-position: inside;
	line-height:1.5em;
	height:35px;
	color: #205379;
	overflow:hidden;
	padding: 0;
	margin-left:10px;
	float:left;
	
	*background:url(../../images/square_blu.gif) no-repeat 0px 0px;/*IE7 and below */
	*padding:0;/*IE7 and below */
	*text-indent: 1.3em;/*IE7 and below */
	*margin-left:10px;/*IE7 and below */
	
}


ul.list1 l.long a {
	color: #205379;
	text-decoration: none;
}

ul.list1 li.long a:link {
	color:#205379;
	text-decoration:none;
}


ul.list1 li.long a:visited {
	color: #205379;
	text-decoration: none;
}

ul.list1 li.long a:hover {
	color: #2C74A9!important;
	text-decoration:underline!important;
}


ul.list1_arrow {                 /* 横並び(arrowマ�Eカー�E�E/
	width: 630px;
	margin:0 0 0 20px;
	padding:0;
	
	*margin:0 0 0 13px;/*IE7 and below */
}

ul.list1_arrow li {
	width: 180px;
	list-style-image:url(../../images/arrow_blu.gif);
	list-style-position: inside;
	line-height:1.5em;
	height:30px;
	color: #205379;
	overflow:hidden;
	margin:5px 0px 0px 10px;
	float:left;
	vertical-align:middle;


	
	
	*background:url(../../images/arrow_blu.gif) no-repeat -2px -3px;/*IE7 and below */
	*padding:0;/*IE7 and below */
	*text-indent: 1.3em;/*IE7 and below */
	*margin-left:10px;/*IE7 and below */
	
}


ul.list1_arrow li a {
	color: #666;
	text-decoration: none;
}

ul.list1_arrow li a:link {
	color:#666;
	text-decoration:none;
}

ul.list1_arrow li a:visited {
	color: #666;
	text-decoration: none;
}

ul.list1_arrow li a:hover {
	color: #2C74A9!important;
	text-decoration:underline!important;
}

ul.list1_arrow li.long {
	width: 250px;
	list-style-image:url(../../images/arrow_blu.gif);
	list-style-position: inside;
	line-height:1.5em;
	height:30px;
	color: #205379;
	overflow:hidden;
	padding: 0;
	margin:5px 0px 0px 10px;
	float:left;
	vertical-align:middle;
	
	
	*background:url(../../images/arrow_blu.gif) no-repeat 0px -3px;/*IE7 and below */
	*padding:0;/*IE7 and below */
	*text-indent: 1.3em;/*IE7 and below */
	*margin-left:10px;/*IE7 and below */
	
}

ul.list1_arrow li.short {
	width: auto;
	/*list-style-image:url(../../images/arrow_blu.gif) no-repeat;*/
	/*list-style-position: inside;*/
	list-style: none;
	background : url(../../images/arrow_blu.gif) no-repeat 0px -2px;
	text-indent: 15px;
	line-height:1.5em;
	height:30px;
	color: #205379;
	overflow:hidden;
	padding: 0;
	margin:5px 0px 0px 5px;
	float:left;
	vertical-align:middle;

	
	
	*background:url(../../images/arrow_blu.gif) no-repeat 0px -3px;/*IE7 and below */
	*text-indent: 1.3em;/*IE7 and below */
	*margin-left:10px;/*IE7 and below */
	
}

ul.list1_arrow li.middle {
	width: 80px;
	list-style-image:url(../../images/arrow_blu.gif);
	list-style-position: inside;
	line-height:1.5em;
	height:30px;
	color: #205379;
	overflow:hidden;
	padding: 0;
	margin:5px 0px 0px 10px;
	float:left;
	vertical-align:middle;
	
	
	*background:url(../../images/arrow_blu.gif) no-repeat 0px -3px;/*IE7 and below */
	*padding:0;/*IE7 and below */
	*text-indent: 1.3em;/*IE7 and below */
	*margin-left:10px;/*IE7 and below */
	
}
ul.list2 {                 /* 縦並び*/
	width:95%;
	padding:0;
	margin:0;
}

ul.list2 li {
	margin: 0.5em 0 0.5em 30px;
	list-style : url(../../images/arrow_blu.gif);
	list-style-position: inside;
}


ul.list2 li ul {
	margin: 0;
	padding: 0;
}

ul.list2 li ul li {
	list-style : url(../../images/arrow_pup.gif);
	line-height: 1em;
	list-style-position: inside;
	width:95%;
	padding:2px 0px;
	
	*line-height: 1.3em;/*IE7 and below */
	*vertical-align:bottom;/*IE7 and below */
}

ul.list2 li ul li.syorui_d {
	list-style : url(../../images/arrow_pup.gif);
	line-height: 1.5em;
	list-style-position: inside;
	width:95%;
	text-indent:-1em;
	padding:2px 0px;
	
	*line-height: 1.3em;/*IE7 and below */
	*vertical-align:bottom;/*IE7 and below */
}

ul.list2 li.square {
	list-style : url(../../images/square_blu.gif);
	list-style-position: inside;
	width:95%;
	color:#009;
	font-weight:bold;
	margin-top:15px;
	
	*margin-left:13px;/*IE7 and below */
}

ul.list2 li.blue {
	list-style-type:none;
	list-style-image:none;
	color:#0B619F;
	width:95%;
	margin-top:5px;
	margin-left:30px;
}
ul.list2 li.none {
	list-style-type:none;
	list-style-image:none;
	width:95%;
	margin-top:5px;
	margin-left:30px;
}
ul.list2 li.circle {
	list-style: none;
	text-indent:1.5em;
	background : url(../../images/circle_blue.gif) no-repeat -2px 6px;
	width:95%;
	margin-top:5px;
	margin-left:32px;

}

ul.list2 li.indent_none {
	list-style-type:none;
	list-style-image:none;
	width:95%;
	margin-top:5px;
	margin-left:45px;
	
	_margin-left:33px;
}

p.p_red {
	padding: 2px 0px;
	margin-top:0;
	margin-bottom:0;
	color:#900;
}

p.p_blue {
	padding: 2px 0px;
	margin-top:0;
	margin-bottom:0;
	color:#0B619F;
}

p.p_top_m10 {           /*TOPに余白を多め*/
	padding: 2px 0px 0px 0px;
	margin-top:10px;
	margin-bottom:0;
}

p.p_blue_line {
	padding-top:2px;
	margin:0px 0px 0px 1em;
	color:#0B619F;
	border-bottom:#0B619F 1px solid;
	display:inline;
	
}

/*リスト用�E�左側にマ�Eジン�E�E/
p.list_p {
	padding: 2px 0px;
	margin-top:0;
	margin-left:2em;
	margin-bottom:0;
}


p.list_p_red {
	padding: 2px 0px;
	margin-top:0;
	margin-left:2em;
	margin-bottom:0;
	color:#900;
}

p.list_p_blue {
	padding: 2px 0px;
	margin-top:0;
	margin-left:2em;
	margin-bottom:0;
	color:#0B619F;
}



.link_blue {
	color:#205379;
}

.link_blue a{
	color:#205379;
}

.link_blue a:link {
	color:#205379;
}

.link_blue a:visited {
	color: #205379;
	text-decoration: none;
}

.link_blue a:hover {
	color: #2C74A9!important;
	text-decoration:underline!important;
}


.red {
	color:#DB0000;
}
/*TOPICS　リスチE/
.topics_box {
	border-bottom:1px dotted #CCC;
	height:auto;
	width:94%;
	display:block;
	margin-top: 8px;
	margin-right: 10px;
	margin-bottom: 8px;
	margin-left: 15px;
}

.topics_box ul.topics_list {
 width:100%;
 margin:0px;
 padding:0px;
 display:inline-block;
 
 *margin:0px;/*IE7 and below */
}

.topics_box ul.topics_list li {
 list-style: none;
 width:100%;
 background:url(../../images/arrow_blu.gif) no-repeat 0px 6px;
 text-indent:2em;
 letter-spacing: 0.2em;
 color: #666;
 line-height: 2em;
 border-top:dotted #CCC 1px;
 padding: 5px 0px;
 

 
 _float:left;/*IE6 */
 _height:25px;/*IE6 */
 _line-height: 1.2;/*IE6 */
 _background:url(../../images/arrow_blu.gif) no-repeat 0px 5px;/*IE6 */
 _text-indent: 3em;/*IE6 */
 
 _height:10px;/*IE6 */
 
}

.topics_box ul.topics_list li.none {
	width: 100%;
	list-style: none;
	background : url(../../images/circle_blue.gif) no-repeat 1px 17px;
	text-indent:2em;
	letter-spacing: 0.2em;
	color: #666;
	line-height: 2em;
	border-top:dotted #CCC 1px;
	padding: 5px 0px;


	
	_float:left;/*IE6 */
	_height:25px;/*IE6 */
	_line-height: 1.2;/*IE6 */
	_background:url(../../images/circle_blue.gif) no-repeat 1px 13px;/*IE6 */
	_text-indent: 3em;/*IE6 */
	
	_height:10px;/*IE6 */

}

.topics_box ul.topics_list li.none li {
	width: 100%;
	list-style: none;
	background : url(../../images/arrow_blu.gif) no-repeat 0px 6px;
	letter-spacing: 0.2em;
	color: #666;
	line-height: 2em;
	border: none;
	margin-left:-10px;
	padding: 5px 0px;
	display:block;


	
	_float:left;/*IE6 */
	_height:25px;/*IE6 */
	_line-height: 1.2;/*IE6 */
	_background:url(../../images/arrow_blu.gif) no-repeat 0px 6px;/*IE6 */

	
	_height:10px;/*IE6 */

}

/*部長会議配币E��E��*/

.topics_box dl.list_siryou {
	margin:0;
}

.topics_box dl.list_siryou dt {
	color: #666;
	width:130px;
	border-top:1px dotted #CCC;
	padding-top:5px;
	padding-bottom:0;
	padding-right:0;
	line-height:2em;
	letter-spacing: 0.2em;
	clear:left;
	float:left;
}

.topics_box dl.list_siryou dd {
	color: #666;
	margin-left:130px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	border-top:1px dotted #CCC;
	line-height:2em;
	vertical-align: middle;
	letter-spacing: 0.2em;
}


.table_waku {                            /*普通�EチE�Eブル*/
	width: 94%;
	margin:0 auto;
	padding: 10px 0px;
	color: #AEAEAE;
	text-align:left;
	line-height:1.5em;
	border-collapse: collapse;
	letter-spacing: 0.2em;
}


td.tit {                           /*タイトル用�E�文字中央�E�：バチE��は薁E��ブルー色、文字中央寁E��*/
	margin:10px 0px;
	padding:10px 0px;
	color: #666;
	font-weight:normal;
	background-color:#EAEAEA;
	text-align:center;
	border: 1px solid #999;
	border-collapse:collapse;
}

td.con {                           /*コンチE��チE���E�文字中央�E�：バチE��は白色、文字中央寁E��*/
	margin:10px 0px;
	padding:10px 0px;
	color: #666;
	font-weight:normal;
	background-color:#FFF;
	text-align:center;
	border: 1px solid #999;
	border-collapse:collapse;
}

td.tit_left {                           /*タイトル用�E�文字左�E�：バチE��は薁E��ブルー色、文字左寁E��*/
	margin:10px;
	padding:10px 10px;
	color: #666;
	font-weight:normal;
	background-color:#EAEAEA;
	text-align:left;
	vertical-align:top;
	border: 1px solid #999;
	border-collapse:collapse;
}

td.con_left {                           /*コンチE��チE���E�文字左�E�：バチE��は白色、文字左寁E��*/
	margin:10px;
	padding:10px 10px;
	color: #666;
	font-weight:normal;
	background-color:#FFF;
	text-align:left;
	vertical-align:top;
	border: 1px solid #999;
	border-collapse:collapse;
}




.table_news {                    /* 更新履歴用チE�Eブル */
	width: 94%;
	margin:0 auto;
	padding: 10px 0px;
	color: #AEAEAE;
	text-align:left;
	line-height:1.5em;
	border-collapse: collapse;
	letter-spacing: 0.2em;
}

th.th_left {                           /*タイトルの左のセル用�E�バチE��は薁E��ブルー色、右線がドット、それ以外�E実線、文字中央寁E��*/
	margin:0px;
	padding:10px 0px;
	color: #666;
	font-weight:normal;
	background-color:#EAEAEA;
	text-align:center;
	border-top: 1px solid #999;
	border-right:1px dotted #999;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
	border-collapse: collapse;

}


th.th_middle {                           /*タイトルの中央のセル用�E�バチE��は薁E��ブルー色、左右の線がドット、上下�E実線、文字中央寁E��*/
	margin:0px;
	padding:10px 0px;
	color: #666;
	font-weight:normal;
	background-color:#EAEAEA;
	text-align:center;
	border-top: 1px solid #999;
	border-right:1px dotted #999;
	border-left: 1px dotted #999;
	border-bottom: 1px solid #999;
	border-collapse: collapse;

}


th.th_right {                           /*タイトルの右のセル用�E�バチE��は薁E��ブルー色、左線がドット、それ以外�E実線、文字中央寁E��*/
	margin:0px;
	padding:10px 0px;
	color: #666;
	font-weight:normal;
	background-color:#EAEAEA;
	text-align:center;
	border-top: 1px solid #999;
	border-right:1px solid #999;
	border-left: 1px dotted #999;
	border-bottom: 1px solid #999;
	border-collapse: collapse;

}




td.td_left {           /*コンチE��チE�E左のセル用�E�バチE��色つき）：バチE��はより薁E��ブルー色、右線がドット、それ以外�E実線、文字中央寁E��*/
	border-top: 1px solid #999;
	border-bottom:1px solid #999;
	border-right:1px dotted #999;
	border-left: 1px solid #999;
	vertical-align: middle;
	text-align: center;
	color: #666;
	padding: 5px;
	background-color: #F3F3F3;
	width:16%;
	border-collapse: collapse;
}

td.td_middle {               /*コンチE��チE�E中央のセル用�E�バチE��は白色、左右の線がドット、上下�E実線、文字中央寁E��*/
	border-top: 1px solid #999;
	border-bottom:1px solid #999;
	border-right:1px dotted #999;
	border-left: 1px dotted #999;
	vertical-align: middle;
	text-align: center;
	color: #666;
	padding: 5px;
	background-color: #FFF;
	width:18%;
	border-collapse: collapse;
}

td.td_right {                           /*コンチE��チE�E右のセル用�E�バチE��は白色、左の線がドット、それ以外�E実線、文字左寁E��*/
	border-top: 1px solid #999;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
	border-left: 1px dotted #999;
	vertical-align: middle;
	text-align: left;
	color: #666;
	padding: 5px;
	background-color: #FFF;
	width:72%;
	border-collapse: collapse;
}


td.td_left_rowspan {     /*褁E��行（コンチE��チE�E左�E�バチE��色つき）用�E�バチE��はより薁E��ブルー色、左の線が実線、それ以外�Eドット、文字中央寁E��*/
	border-top: 1px dotted #999;
	border-bottom:1px dotted #999;
	border-right:1px dotted #999;
	border-left: 1px solid #999;
	vertical-align: middle;
	text-align: center;
	color: #666;
	padding: 5px;
	background-color: #F3F3F3;
	border-collapse: collapse;
}
td.td_middle_rowspan {                  /*褁E��行（コンチE��チE�E中央�E�用�E�バチE��は白色、�Eての線がドット、文字中央寁E��*/
	border-top: 1px dotted #999;
	border-bottom:1px dotted #999;
	border-right:1px dotted #999;
	border-left: 1px dotted #999;
	vertical-align: middle;
	text-align: center;
	color: #666;
	padding: 5px;
	background-color: #FFF;
	border-collapse: collapse;
}

td.td_right_rowspan {                  /*褁E��行（コンチE��チE�E右�E�用�E�バチE��は白色、右の線が実線、それ以外�Eドット、文字中左寁E��*/
	border-top: 1px dotted #999;
	border-bottom:1px dotted #999;
	border-right:1px solid #999;
	border-left:1px dotted #999;
	vertical-align: middle;
	text-align: left;
	color: #666;
	padding: 5px;
	background-color: #FFF;
	border-collapse: collapse;
}



.rightside {
	color: #205379;
	text-align: right;
}

.rightside a{
	color: #205379;
	text-decoration: none;
}

.rightside a:link {
	color:#205379;
	text-decoration:none;
}


.rightside a:visited {
	color: #205379;
	text-decoration: none;
}


.rightside a:hover {
	color: #2C74A9!important;
	text-decoration:underline!important;
}



/*------　div: content > subnavi ------*/
#content #subnavi {
	display: none;
}
/*------　div: footer  ------*/
#footer {
	clear: both;
	width: 100%;
	height: 40px;
	text-align: center;
	color: #FFF;
}
/*------　div: footer > footnavi ------*/
#footer #footnavi {
	width: 100%;
	height: 20px;
	background: #89A;
}
#footer #footnavi ul {
	margin: 0px;
	list-style-type: none;
	float: right;
}
#footer #footnavi li {
	height: 15px;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #FFF;
	float: left;
}
#footer #footnavi a {
	color: #FFF;
	text-decoration: none;
}
#footer #footnavi a:hover {
	color: #CFF;
}
/*------　div: footer > copyright ------*/
#footer #copyright {
	background: #BBA;
	padding-top: 10px;
	padding-bottom: 30px;
	color: #68B;
}
#footer #copyright a {
	color: #247;
	text-decoration: none;
}
#footer #copyright a:hover {
	color: #CFF;
}
#footer #copyright #credit {
	margin-top: 10px;
}


.line {                                 /* 画像ライン*/
	clear:both;
	background : url(../../images/line.jpg) repeat-x;
	height:15px;
	display:block;
	width:100%;
}

.float_right {
	float:right;
	float:left;
	padding:10px;
}

.float_left {
	float:left;
	padding:10px;
}
